{% extends 'base.html.twig' %}

{% block title %}{{ 'viisp.login_submit.title'|trans }}{% endblock %}

{% block body %}
    <form id="login" action="{{ action }}" method="post">
        <input type="hidden" name="ticket" value="{{ ticket }}">
    </form>

    <script>document.getElementById('login').submit();</script>
{% endblock %}
