{% extends 'base.html.twig' %}

{% block title %}{{ 'my_complaints.title'|trans }}{% endblock %}

{% block body %}
    <main class="mx-auto max-w-[1200px] px-6 py-16">
        <h1 class="text-heading-h1 font-bold">{{ 'my_complaints.greeting'|trans({'%name%': app.user.firstName}) }}</h1>
    </main>
{% endblock %}
