{% if ea.user is not null %}
    <span class="user-identity">
        <span class="user-name">{{ ea.user.fullName }}</span>
        {% set primaryRole = ea.user.primaryRole %}
        {% if primaryRole is not null %}
            <span class="user-role">{{ primaryRole.labelKey|trans({}, 'messages') }}</span>
        {% endif %}
    </span>
{% else %}
    <span class="user-name">{{ ea.userMenu.name }}</span>
{% endif %}
